<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <!--Menu da esquerda-->
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/public/admin">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <a target="_blank" class="nav-link" href="/public">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Página Inicial
            </a>
            <a target="_blank" class="nav-link" href="/public/perfil/" id="perfilid" >
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Página da Escola
            </a>
            <a target="_blank" class="nav-link" href="/public/admin/escolas/ver">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Escolas
            </a>
            <div class="sb-sidenav-menu-heading">Backend</div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Ações
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/public/admin/categorias/publicas">Categorias Publicas</a>
                    <a class="nav-link" href="/public/admin/noticias/24">Eventos</a>
                    <a class="nav-link" href="/public/admin/noticias/29">Notícias</a>
                    <a class="nav-link" href="/public/admin/recursos/32">Recursos</a>
                </nav>
            </div>
            

            <a id="menuTabelas" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Tabelas
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/public/admin/escolas">Escolas</a>
                    <a class="nav-link" href="/public/admin/contactos">Contactos</a>
                    <a class="nav-link" href="/public/admin/categorias">Categorias</a>
                    <a class="nav-link" href="/public/admin/embaixadores">Embaixadores</a>
                    <a class="nav-link" href="/public/admin/noticias">Notícias</a>
                    <a class="nav-link" href="/public/admin/euroscola">Euroscola</a>
                    <a class="nav-link" href="/public/admin/tipo-escolas">Distritos</a>
                    <a class="nav-link" href="/public/admin/menu">Menu</a>
                </nav>
            </div>
            
            <a id="menuCarrossel" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCarrosel" aria-expanded="false" aria-controls="collapseCarrosel">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Carrossel
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseCarrosel" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/public/admin/carrossel/link/37">Carrossel com links</a>
                    <a class="nav-link" href="/public/admin/carrossel/imagem/37">Carrossel com imagens</a>
                </nav>
            </div>
            
            <a class="nav-link" href="/public/admin/escolas-nao-confirmadas" id="validarEscolas">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Validar escolas
            </a>
            
            
        
        </div>
    </div>
    <!--Parte de baixo, menu da esquerda-->
    <div class="sb-sidenav-footer">
        <div class="small">Feito por:</div>
        EPAS Portugal
    </div>
</nav>