<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Candidatura</title>
  <meta name="description" content="O Programa Escola Embaixadora do Parlamento Europeu (EPAS) é uma iniciativa educativa da União Europeia que visa sensibilizar 
  alunos do ensino secundário e profissional para a democracia, os valores europeus e o funcionamento das instituições da UE. 
  Através de atividades práticas, o programa incentiva a participação ativa e a cidadania europeia.">
  <meta name="keywords" content="Programa Escola Embaixadora do Parlamento Europeu EPAS cidadania europeia">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/templates/site_iris/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/templates/site_iris/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <video class="logo-video" autoplay muted loop playsinline>
          <source src="/templates/site_iris/assets/videos/Video_logo_parlamento_branco.mp4" type="video/mp4">
        </video>
        <span class="sitename">EPAS PT</span>
      </a>


      <nav id="navmenu" class="navmenu">
        <!-- O menu vai ser carregado dinamicamente aqui -->
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    </div>
  </header>

  <main class="main">

  

    <!-- Contact Section -->
    <section id="contact" class="contact section">    
   
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Candidaturas</h2>
        <p>Faça a sua candidatura para ingressar ao EPAS</p>   
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">


            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Ligue para nós</h3>
                <p>213 504 900</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email</h3>
                <p>eplisboa@europarl.europa.eu</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Escola</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <form data-aos="fade-up" data-aos-delay="200" class="php-email-form" >
                  <div class="row gy-4">

                    <div class="col-md-6">
                      <input type="text" name="name" id="name"  class="form-control" placeholder="Nome" required="">
                    </div>

                    <div class="col-md-6 ">
                      <input type="text" class="form-control" name="localizacao" id="localizacao"  placeholder="Morada" required="">
                    </div>

                    <div class="col-md-12">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="">
                    </div>
                    
                    <div class="col-md-12">
                      <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="Telefone" required="" maxlength="9">
                    </div>

                    <div class="col-md-12">
                      <input type="text" class="form-control" name="PessoaContacto" id="PessoaContacto" placeholder="Pessoa de contacto" required="">
                    </div>

                    <div class="col-md-12">
                      <input type="text" class="form-control" name="paginaWeb" id="paginaWeb" placeholder="Página Web da Escola" required="">
                    </div>

                    <div class="col-md-6">
                      <input type="text" class="form-control" name="utilizador" id="utilizador" placeholder="Utilizador" required="">
                    </div>

                    <div class="col-md-6">
                      <input type="password" class="form-control" name="passw" id="passw" placeholder="Password" required="">
                    </div>

                    <div class="col-md-12">
                      <select class="form-control" name="tipoEscola" id="tipoEscola">
                        <option>Escolha uma localização</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude" required="">
                    </div>

                    <div class="col-md-6">
                      <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude" required="">
                    </div>

                    <div class="col-md-12">
                      <textarea class="form-control" name="motivacao" id="motivacao" placeholder="Motivação" rows="5" required=""></textarea>
                    </div>

                    <div class="col-md-12 text-center">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your message has been sent. Thank you!</div>

                      <button type="submit" class="btn-getstarted">Enviar candidatura</button>
                    </div>

                  </div>
                </form>
              </div>

            </div>

          </div>

        </div>

      </div>

   
</div>

</div>

  <!-- Scr</div>oll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
  
  <!-- Main JS File -->
  <script src="/templates/site_iris/assets/js/main.js"></script>
  <script src="/templates/site_iris/assets/js/formulario.js"></script>

</body>

</html>