<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>EPAS PT
</title>
  <meta name="description" content="O Programa Escola Embaixadora do Parlamento Europeu (EPAS) é uma iniciativa educativa da União Europeia que visa sensibilizar 
  alunos do ensino secundário e profissional para a democracia, os valores europeus e o funcionamento das instituições da UE. 
  Através de atividades práticas, o programa incentiva a participação ativa e a cidadania europeia.">
  <meta name="keywords" content="Programa Escola Embaixadora do Parlamento Europeu EPAS cidadania europeia">

  <!-- Fonts -->
  <link href="/templates/site_iris/assets/css/fontes.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/templates/site_iris/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/templates/site_iris/assets/css/main.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/css/inicio.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/css/rede_unidos.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/css/redeUnidos_verMais.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page" id="home">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <video class="logo-video" autoplay muted loop playsinline>
          <source src="/templates/site_iris/assets/videos/Video_logo_parlamento_branco.mp4" type="video/mp4">
        </video>
        <span class="sitename">EPAS PT</span>
      </a>


      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#carouselExampleRide" class="active">Início<br></a></li>
          <li class="dropdown"><a href="#"><span>Rede EPAS</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">EPAS Portugal</a></li>
              <li><a href="#">EPAS UE+UK</a></li>
              <li><a href="#">Coordenação da rede</a></li>
              <li><a href="#"></a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Rede Unidos.eu</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Eventos</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Eventos Futuros</a></li>
              <li><a href="#">Projectos em curso</a></li>
              <li><a href="#">Arquivo de eventos</a></li>
            </ul>
            <li class="dropdown"><a href="#"><span>Recursos</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#">Materiais Didáticos</a></li>
                <li><a href="#">Sites úteis</a></li>
                <li><a href="#">Fontes de informação</a></li>
                <li><a href="#">Notícias da UE</a></li>
              </ul>
            </li>
          </li>
          <li><a href="#contact">Contactos</a></li>
          <li><a href="#login">Login</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

    <main class="main">


    <!-- Portfolio Section -->
    <section id="eventos" class="portfolio section"> 

      <div class="container section-title" data-aos="fade-up" id="Eventos">
        <h2>Eventos</h2>
        <p>Fica a conhecer as atividades realizadas pelas escolas EPAS.</p>
      </div>
    <div class="container" id="eventosCardDinamico">
        <p class="text-center">A carregar notícias...</p>
    </div>
</section>
    
    </section>

  </main>


  </footer>
  
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/templates/site_iris/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/templates/site_iris/assets/vendor/aos/aos.js"></script>
  <script src="/templates/site_iris/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/templates/site_iris/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/templates/site_iris/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/templates/site_iris/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/templates/site_iris/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/templates/site_iris/assets/js/main.js"></script>
  <script src="/templates/site_iris/assets/js/redeUnidosVerMais.js"></script>

</script>

</section>

</body>

</html>
