<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Workshops - EPAS PT</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/css/main.css" rel="stylesheet">
  <link href="/templates/site_iris/assets/css/workshop.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <video class="logo-video" autoplay muted loop playsinline style="height: 42px;">
          <source src="/templates/site_iris/assets/videos/Video_logo_parlamento_branco.mp4" type="video/mp4">
        </video>
        <span class="sitename">EPAS PT</span>
      </a>
      <nav id="navmenu" class="navmenu"></nav>
    </div>
  </header>

  <main class="main">
    <section id="workshops" class="section">
      <div class="container">
        <div class="section-title">
          <h2 id="titulo-dinamico">Workshops</h2>
          <p id="texto-dinamico">Guias práticos de gestão</p>
        </div>
        
        <div class="row gy-4">
          <div class="col-md-6"><div class="icon-box"><h4>Recuperar a Password</h4><video width="100%" height="250" controls><source src="/video/recup_pass.mp4" type="video/mp4"></video></div></div>
          <div class="col-md-6"><div class="icon-box"><h4>Editar Perfil</h4><video width="100%" height="250" controls><source src="/video/edit_Perfil.mp4" type="video/mp4"></video></div></div>
          <div class="col-md-6"><div class="icon-box"><h4>Lançar Eventos</h4><video width="100%" height="250" controls><source src="/video/eventos.mp4" type="video/mp4"></video></div></div>
          <div class="col-md-6"><div class="icon-box"><h4>Lançar Notícias</h4><video width="100%" height="250" controls><source src="/video/video_noticias.mp4" type="video/mp4"></video></div></div>
        </div>
      </div>
    </section>
  </main>
<!-- Main JS File -->
  <script src="/templates/site_iris/assets/js/workshop.js"></script>
</body>
</html>